
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim--> Tamamlandı</del></p>
<p><del>#2 Tüm Başlıklarda Paging --> Tamamlandı</del></p>
<p><del>#3 Mesajlarda Session --> Tamamlandı</del></p>
<p><del>#4 Oturum yönetiminin mimariye taşınması--> Tamamlandı</del></p>


