@using EntityLayer.Concrete
@model List<Admin>

@{
    ViewBag.Title = "ListAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Admin Kullanıcı Adı</th>
        <th>Şifresi</th>
        <th>Rolü</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminID</th>
            <td>@item.AdminUserName</td>
            <td>@item.AdminPassword</td>
            <td>@item.AdminRole</td>
            <td><a href="/Login/EditAdmin/@item.AdminID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
@*razor syntax*@

<a href="/Login/AddAdmin/" class="btn btn-info">Yeni Admin Oluştur</a>
